# Database Configuration
DOCTOR_DATABASE_URL=postgres://888:888@localhost:888/888?sslmode=disable
APPOINTMENT_DATABASE_URL=postgres://888:888@localhost:888/888?sslmode=disable

# NATS Configuration
NATS_URL=nats://localhost:888

# Service Ports
DOCTOR_SERVICE_PORT=888
APPOINTMENT_SERVICE_PORT=888


# Service Addresses
DOCTOR_SERVICE_ADDR=localhost:888

POSTGRES_USER=888
POSTGRES_PASSWORD=888

DOCTOR_POSTGRES_DB=888
APPOINTMENT_POSTGRES_DB=888

NATS_PORT1=888
NATS_PORT2=888

DOCTOR_DB_PORT=888
APPOINTMENT_DB_PORT=888
REDIS_PORT=888